<p>Dear, <%= @order.first_name %></p>

<p>We are emailing you to let you know your order has been processed. We will send you a confirmation email when your order has been approved<br />

  Regards,<br />

  E-Smart

</p>


