<h1>Listing role_users</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @role_users.each do |role_user| %>
  <tr>
    <td><%= link_to 'Show', role_user %></td>
    <td><%= link_to 'Edit', edit_role_user_path(role_user) %></td>
    <td><%= link_to 'Destroy', role_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Role user', new_role_user_path %>
