<h1>Shipping & Returns </h1>
<div class="well">
<p>
  Delivery Terms & Conditions

  Free Delivery Terms and conditions
  Free item shipping is only available on the within 5 working days delivery option.
  Only qualifying products are eligible for the discounted shipping rate. This is indicated by the free shipping icon next to the product.
  Discounted shipping applies to UK mainland* deliveries only and excludes additional delivery options. (For example 0600-0730 delivery)
  Discounted shipping restrictions may apply to some postcode areas*.
  Only applies to orders under 25kg

</p>
 <h3> 5 Day Free Shipping</h3>

  <ul class="listoption3">
  <li>To obtain Free Delivery, Select delivery option Within 5 Working Days at checkout.</li>
  <li>Only applies to orders under 25kg.</li>
  <li>Free Delivery is a strictly Limited Time Only offer, and may be stopped at any time.</li>
  <li>All items on the order are in stock and available for delivery.</li>
</ul>
  <br />

  <h2>Returns Policy</h2>
  <p>
    We know that you will be pleased with your purchases from E-smart.com. However, there may be occasions when you will need to return items to us.<br /><br />

    <b>Non Receipt Of Items</b><br /><br />

    If you have not received your items you must let us know within 7 days from the estimated delivery date. Once we know you have not received your item we will investigate the matter fully both
    internally and with our carriers. Unfortunately we cannot investigate non receipt deliveries after this time has elapsed.

  </p>
</div>
<center>
  <footer>
    <%= image_tag("Reassurance.gif") %>
  </footer>
  <footer>
    <p>&copy; Copyright E-Smart 2013 </p>
    <b><h3><span class="label label-important">NOT A REAL SHOP!</span></h3></b>
  </footer>
</center>