<form class="form-horizontal">
   <fieldset>
    <div class="control-group">
     <h1>About</h1>
     <p>Esmart.com is one of the largest Internet resellers of brand name computer technology and consumer electronics products. Founded in 1999, Esmart.com is headquartered in Wimbledon,
      London. Employing over 300 employees, we service 3 million registered customers.
       Our business philosophy is simple: give consumers and businesses what they want, when they want it.
       We never stop improving our world class operation by putting our customers - and their needs - first.</p>
     <br />
     <h3>Products</h3>
     <p>
       We offer our customers over 52,000 quality products, and our list of product categories and product offerings is growing every day.
       Ebuyer customers know they're getting the best prices and exclusive offers on a huge range of computer technology products like desktops, notebooks,
       printers, networking, digital cameras, software, storage and more. Plus, we offer other hot products such as LCD TVs, MP3 players, gaming and home electronics.
       Our great relationships with all the major vendors mean our customers will always find special deals on great products from the biggest names
       in the industry. And to help our customers choose the right products, we make it easy to find availability, pricing, reviews and ratings.
     </p>
    </div>
   </fieldset>

  </form>
</form>