<form class="well-span9">
  <fieldset>
    <div id="legend" class="">
      <legend class="">Contact Us</legend>
    </div>
    <div class="control-group">

      <!-- Text input-->
      <label class="control-label" for="input01">First Name</label>
      <div class="controls">
        <input type="text" placeholder="First Name" class="input-xlarge">
        <p class="help-block"></p>
      </div>
    </div>

    <div class="control-group">

      <!-- Text input-->
      <label class="control-label" for="input01">Last Name</label>
      <div class="controls">
        <input type="text" placeholder="Last Name" class="input-xlarge">
        <p class="help-block"></p>
      </div>
    </div>

    <div class="control-group">

      <!-- Text input-->
      <label class="control-label" for="input01">Email</label>
      <div class="controls">
        <input type="text" placeholder="Email" class="input-xlarge">
        <p class="help-block"></p>
      </div>
    </div>

    <div class="control-group">

      <!-- Textarea -->
      <label class="control-label">Message</label>
      <div class="controls">
        <div class="textarea">
          <textarea type="" class=""> </textarea>
        </div>
      </div>
    </div>

  </fieldset>
</form>

